body {
  background-image: url(./images/logo.png);
  background-size: 150px;
  background-repeat: repeat;
}

.teenie-shops {
  max-width: 450px;
  margin: 8% auto;
  padding: 20px;
  background-color: white;
  border: 5px solid black;
}

.teenie-shops h1,
footer {
  font-family: ruddy, sans-serif;
  text-align: center;
  font-weight: 800;
}

.teenie-shops h1 {
  font-size: 45px;
}

.teenie-shops .container {
  border: 3px solid black;
  max-width: 350px;
  padding: 30px;
  background-color: #8f66f2;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.teenie-shops .container a {
  background-color: white;
  border: 3px solid black;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  font-family: obviously, sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin: 10px auto;
  padding: 5px;
  transition: all 100ms ease-in-out;
}

.teenie-shops .container a:hover {
  color: white;
  background-color: red;
  border: 3px solid black;
}

.teenie-shops footer {
  font-size: 25px;
}

.teenie-shops footer a {
  color: black;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

.teenie-shops footer a:hover {
  color: red;
}

.teenie-shops .social-icons a {
  margin: 10px;
  font-size: 25px;
}

@media (max-width: 700px) {
  body {
    background-size: 70px;
  }

  .teenie-shops {
    margin: 100px 20px;
    padding: 20px 0px 20px;
  }

  .teenie-shops .container {
    padding: 10px 20px;
    max-width: 300px;
  }

  .teenie-shops .container a {
    margin: 5px auto;
  }
}
