body {
  max-width: 350px;
  margin: 0px auto;
}

.teenie-shops h1, footer {
  font-family: postino-std, serif;
}

.teenie-shops h1 {
  font-size: 30px;
}


.teenie-shops .container {
  border: 3px solid black;
  max-width: 350px;
  padding: 30px;
  background-color: #FFC5FA;

}

.teenie-shops .container a {
  background-color: white;
  border: 3px solid black;
  font-family: obviously, sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin: 10px auto;
  padding: 5px;
  transition: all 100ms ease-in-out;
}

.teenie-shops .container a:hover {
  color: white;
  background-color: red;
  border: 3px solid black;
}

.teenie-shops footer{
  font-size: 18px;
  text-align: right;
}

.teenie-shops footer a{
  color:black;
  text-decoration: none;
  transition: all 100ms ease-in-out;
  }

.teenie-shops footer a:hover{
  color: red;
}





